VisualElement {}
Label{
	font-size: 20px;

	color: rgb(255, 0, 0);
}
:hover {
-unity-font-style: bold;
}

.iconImg {
	background-image: resource("Assets/Scripts/Editor/fish.png");
	width: 250px;
	height: 250px;
}

/* You use #, for example "#clickMeButton" if you want to find them using their name*/ 